<section class="section about-us-section" aria-label="about us section">
    <div class="container about-us">
        <h2>About Us</h2>
        <p>Learn more about our company and what we do.</p>
        <button class="main-btn">Learn More</button>
        <button class="normal-btn">Contact Us</button>

        <ul class="socials" aria-label="Social links">
        <li class="socials__item">
        <a class="socials__link" href="#" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
            <svg class="icon-social-media" width="24" height="24">
            <use href="/img/icons/icons.svg#icon-facebook"></use>
            </svg>
        </a>
        
  </li>
        
    </div>
    
</section>
    