<section class="section about-us-section" aria-label="about us section">
    <div class="about-us-container">
        <div class="about-us -info">
            <h2 class="title-section"> About <span class="underline">Us</span></h2>
            <p class="text-description">We are dedicated to providing engaging and effective English language courses in a supportive and stimulating learning environment</p>
        </div>
        <div class="features">
            <div class="features-item">
                <ul class="features-list">
                    <li class="features-list__item">01
                        <p class="features-list__item-text">Expert, innovative teaching staff</p>
                    </li>
                    <li class="features-list__item">02
                        <p class="features-list__item-text">Wide range of course levels and options</p>
                    </li>
                    <li class="features-list__item">03
                        <p class="features-list__item-text">Multicultural learning environment</p>
                    </li>
                    <li class="features-list__item">04
                        <p class="features-list__item-text">Comprehensive language support services</p>
                    </li>
                </ul>
            </div>
            <div class="features-item">
                <img class="features-image" src="./img/about-us/memoji.png" srcset="./img/about-us/memoji.png 1x,./img/about-us/memoji@2x.png 2x" alt="About us image" width="260" height="260"/>
            </div>
        </div>
    </div>
   
</section>