<header class="header">
  <div class="header-container">
    <nav class="header-nav">
      <a class="logo-header" href="./index.html"
        >englishex<span class="accent">cellence</span>.</a
      >

      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#about-us">About us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#our-lessons">Our lessons</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#teachers">Teachers</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-item-link" href="#contact-us">Contact us</a>
        </li>
      </ul>

      <address class="social">
        <ul class="social-list">
          <li class="social-list-item">
            <a
              class="social-list-item-link"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
            >
              <svg class="social-link-icon" width="28" height="28">
                <use href="./img/icons/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a
              class="social-list-item-link"
              target="_blank"
              href="https://www.instagram.com/goitclub/"
            >
              <svg class="social-link-icon" width="28" height="28">
                <use href="./img/icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a
              class="social-list-item-link"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
            >
              <svg class="social-link-icon" width="28" height="28">
                <use href="./img/icons/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </nav>

    <button class="menu-burger-btn" type="button">
      <svg class="menu-burger-btn-icon" width="32" height="32">
        <use href="./img/icons/icons.svg#icon-nav"></use>
      </svg>
    </button>

    <div class="mobile-menu">
      <div class="mobile-menu-container">
        <button class="mobile-btn-menu-close">
          <svg class="btn-menu-close-icon" width="32" height="32">
            <use href="./img/icons/icons.svg#icon-close"></use>
          </svg>
        </button>

        <nav class="mobile-nav">
          <ul class="mobile-menu-list">
            <li class="mobile-menu-item">
              <a class="mobile-menu-item-link" href="#about-us">About us</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-item-link" href="#our-lessons"
                >Our lessons</a
              >
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-item-link" href="#teachers">Teachers</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-item-link" href="#reviews">Reviews</a>
            </li>
            <li class="mobile-menu-item">
              <a class="mobile-menu-item-link" href="#contact-us">Contact us</a>
            </li>
          </ul>

          <ul class="mobile-social-list">
            <li class="mobile-social-list-item">
              <a
                class="mobile-social-list-item-link"
                target="_blank"
                href="https://www.facebook.com/goITclub/"
              >
                <svg class="mobile-social-link-icon" width="26" height="26">
                  <use href="./img/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="mobile-social-list-item">
              <a
                class="mobile-social-list-item-link"
                target="_blank"
                href="https://www.instagram.com/goitclub/"
              >
                <svg class="mobile-social-link-icon" width="26" height="26">
                  <use href="./img/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="mobile-social-list-item">
              <a
                class="mobile-social-list-item-link"
                target="_blank"
                href="https://www.youtube.com/c/GoIT"
              >
                <svg class="mobile-social-link-icon" width="26" height="26">
                  <use href="./img/icons/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
