<section class="hero" id="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="accent-light">English</span> with us!
      </h1>
      <a class="normal-btn" href="#leave-application">Leave an application</a>
    </div>

    <a class="arrow-btn" href="#footer" aria-label="scroll down">
      <svg class="arrow-btn-icon" width="20" height="20">
        <use href="./img/icons/icons.svg#icon-arrow"></use>
      </svg>
    </a>
  </div>
</section>
