<section class="hero" id="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="accent-light">English</span> with us!
      </h1>
      <button class="normal-btn" type="button">Leave an application</button>
    </div>

    <button class="arrow-btn" type="button" aria-label="scroll down">
      <svg class="arrow-btn-icon" width="20" height="20">
        <use href="./img/icons/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
