<section class="proposal" id="proposal">
  <div class="proposal-container">
    <h2 class="visually-hidden">Proposal to leave an application</h2>

    <p class="proposal-title">
      Master the <span class="accent-light">Language </span>with Our English
      Package!
    </p>

    <div class="card-container">
      <div class="card-wrapper">
        <div class="card-bg-1"></div>
        <div class="card-bg-2"></div>

        <div class="card-main">
          <div class="card-content">
            <h3 class="card-content-title">Power of English</h3>
            <ul class="benefits-list">
              <li class="benefits-item">
                Dive into captivating lessons designed to stimulate your
                curiosity.
              </li>
              <li class="benefits-item">
                Learn in a nurturing setting where every student's progress
                matters.
              </li>
              <li class="benefits-item">
                Experience the satisfaction of real progress as your language
                skills and confidence grow with every session.
              </li>
            </ul>
            <a class="normal-btn" href="#leave-application"
              >Leave an application</a
            >
          </div>

          <div class="proposal-image-box">
            <picture>
              <source srcset="./img/proposal/tall-stack-of-books@2x.png 2x" />
              <img
                class="proposal-img"
                src="./img/proposal/tall-stack-of-books.png"
                alt="Stack of books for learning English"
                width="214"
                height="263"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
