.section{
    padding: 60px 0;    
}

.main-btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
.main-btn:hover, .main-btn:focus {
    background-color: #0056b3;
}