

ul,ol {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
/* common */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
/*стилі для мобайл/*
.footer {
    background-color: #2f352d;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #4DC274;
    
}

.footer-logo {
    margin-top: 40px;
}


.footer-logo .logo-part {
    color: #ffffff;
}

.footer-contacts-h,
.footer-copyright,
.footer-policy-link {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.footer-tel,
.footer-address,
.footer-nav-item {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    font-style: normal;
    color: #FFFFFF;
}

.footer-socials-icon {
    color: #FFFFFF;
    width: 26px;
    height: 26px;
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 10px;
}


.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    padding-top: 20px;
    margin-top: 48px;
    width: 100%;
}