
.footer {
    background-color: #121417;;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: flex-start;

}

.footer-container {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 40px 20px 20px 20px;
    margin: 0 auto;
}

.footer-info-container {
    font-style: normal;
    margin-bottom: 40px;
}

.logo {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #4DC274;
    
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}


.footer-logo .logo-part {
    color: #ffffff;
}

.footer-info-container {
    margin-bottom: 40px;
}

.footer-tel {
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
}

.footer-address {
    display:block;
    color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-decoration: none;
}
.footer-address:hover,
.footer-address:focus-visible {
  text-decoration: underline;
  color: var(--green);
}

.footer-contacts-h {
    margin-bottom: 4px;
}


.footer-contacts-h,
.footer-copyright,
.footer-link {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;

}


.footer-tel,
.footer-address,
.footer-nav-item {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    font-style: normal;
    color: #FFFFFF;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-tel:hover,
.footer-address:hover,
.footer-nav-item:hover,
.footer-tel:focus,
.footer-address:focus,
.footer-nav-item:focus {
    color: #4DC274;
    border-color:rgba(77, 194, 116, 0.10);
}


.footer-socials-icon {
    fill: #FFFFFF;
    width: 26px;
    height: 26px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover .footer-socials-icon,
.footer-socials-link:focus .footer-socials-icon {
    fill: #4DC274;
}

.footer-navigation-link {
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
}

.footer-no-mrg-item {
    margin-bottom: 0;
}

.footer-socials-list {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}


.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    border-color: rgba(77, 194, 116, 0.10);
}


.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer-copyright {
    margin-top: 20px;
    margin-bottom: 14px;
}

.footer-policy-list {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

@media only screen and (min-width: 768px) {
    .footer {
    justify-content: center;

}
    .footer-container {
        max-width: 768px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 32px 32px 16px;
    }


.footer-info-container {
    margin-bottom: 125px;
}

    .left-side-footer {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding-top: 0;
    }


    .navigation-footer-container {
        padding-top: 0px;
    }

    .footer-socials-list {
        margin-top: 0;
        margin-bottom: 40px;
    }
.footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.footer-socials-icon {
    width: 28px;
    height: 28px;
}

}

@media only screen and (min-width: 1280px) {
    .footer-container {
        max-width: 1280px;
        padding-left: 128px;
        padding-right: 128px;
    }
}