.header {
  padding: 20px;
  width: 100%; /* Фіксована ширина для мобільної версії */
  height: 67px;
}

/* #region logo */
.logo-header {
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
}

/* Акцентний колір для частини логотипу */
.accent {
  color: var(--green);
}
/* #endregion */

/* Приховуємо десктопне меню та соцмережі на мобільних пристроях */
.header-menu {
  display: none;
}

.social-list {
  display: none;
}

/* Контейнер шапки для розміщення логотипу та кнопки-бургер по краях */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Стилі для іконки бургер-меню */
.menu-burger-btn-icon {
  display: block;
  stroke: var(--black);
}

/* #region mobile menu */

.mobile-menu {
  position: fixed; /* Фіксуємо на весь екран */
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 20, 23, 0.4);
  max-width: 100%; /* Максимальна ширина для мобільних пристроїв */


  display: flex;
  justify-content: flex-end; /* Вирівнюємо внутрішню панель по правому краю */

  /* Стан за замовчуванням: приховано */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;

  /* Плавна анімація появи та зникнення */
  transition:
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Клас, який додається через JS для відкриття меню */
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  /* При відкритті затримка не потрібна */
  transition:
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Виїзд самої панелі */
.mobile-menu.is-open .mobile-menu-container {
  transform: translateX(0);
}

/* Сама зелена панель меню */
.mobile-menu-container {
  position: relative; /* Для абсолютного позиціонування кнопки закриття всередині */
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: var(--green);
  width: 240px;
  height: 100dvh; /* Висота вюпорта */

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  padding: 20px;
  /* Ефект виїзду: зміщуємо панель праворуч за межі екрана */
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Кнопка-хрестик (закриття) у верхньому правому куті панелі */
.mobile-btn-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.btn-menu-close-icon {
  stroke: var(--white);
}

/* Навігація всередині меню */
.mobile-nav {
  margin-top: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-menu-list {
  /* меню на центр по вертикалі */
  margin-top: auto;
}

/* Відступи між пунктами меню, крім останнього */
.mobile-menu-item:not(:last-child) {
  margin-bottom: 20px;
}

/* Список соцмереж у нижній частині меню */
.mobile-social-list {
  display: flex;
  gap: 12px;
  flex-direction: row;
  margin-top: auto;
}

/* Стилізація іконок соцмереж (кружечки/квадратики з рамкою) */
.mobile-social-list-item {
  fill: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 42px;
  height: 42px;
}
/* #endregion */

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header {
    padding: 20px 32px;
    height: 68px;
  }
  .menu-burger-btn-icon {
    width: 40px;
    height: 28px;
  }
  .mobile-menu-container {
    width: 384px;
  }

  .btn-menu-close-icon {
    width: 40px;
    height: 40px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .header {
    padding: 20px 128px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-container {
    width: 1024px;
  }

  .mobile-menu.is-open {
    display: none;
  }

  .menu-burger-btn {
    display: none;
  }

  .header-nav {
    width: 1024px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header-menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .mobile-menu,
  .mobile-nav {
    display: none !important;
  }

  .header-menu-item-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    position: relative;
    padding: 13px 0;
  }

  .header-menu-item-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;

    width: 37px;
    height: 2px;
    background-color: var(--green);

    /* Початковий стан: невидима */
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-item-link:hover::after,
  .header-menu-item-link:focus::after {
    opacity: 1;
  }

  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .social-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 44px;
    height: 44px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link-icon {
    fill: rgb(18, 20, 23, 0.8);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Ефект для рамки посилання при ховері */
  .social-list-item-link:hover,
  .social-list-item-link:focus {
    border: 1px solid rgba(77, 194, 116, 0.1);
  }

  /* Зміна кольору іконки, коли курсор наведений на лінк */
  .social-list-item-link:hover .social-link-icon,
  .social-list-item-link:focus .social-link-icon {
    fill: var(--green);
  }
}
