.hero {
  padding: 8px 20px 0 20px;
  margin-bottom: 80px;
}

/* Головний контейнер із фоновим зображенням */
.hero-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 709px;

  border-radius: 16px;

  /* Фонове зображення  */
  background-color: var(--light-green);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../img/hero/block.jpg');
  background-repeat: no-repeat;
  background-position: 85% center; /* Відстоки для центруванння */
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Контент притискається до низу */
  padding: 72px 20px;
}

/* Ретина-дисплеї */
@media (min-resolution: 192dpi) {
  .hero-container {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../img/hero/block@2x.jpg');
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05;
  color: var(--white);
  margin-bottom: 40px;
}

.accent-light {
  color: #adffb6; /* Світло-зелений колір з макета */
}

.normal-btn {
  max-width: 295px;
  width: 100%;
  padding: 16px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-btn {
  position: absolute;
  bottom: 14px;
  right: 14px;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  fill: var(--green);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-btn:hover,
.arrow-btn:focus {
  background: var(--green);
  fill: var(--white);
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 32px 32px 0 32px;
    margin-bottom: 100px;
  }

  .hero-container {
    height: 857px;

    border-radius: 30px;

    background-position: 70% center; /* Відстоки для центруванння */

    justify-content: flex-start;
    padding: 260px 32px;
  }

  .hero-content {
    max-width: 488px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 1.17;
    margin-bottom: 32px;
  }

  .normal-btn {
    max-width: 306px;
    height: 60px;

    font-size: 18px;
    line-height: 1.56;
  }

  .arrow-btn {
    bottom: 32px;
    right: 32px;
    width: 48px;
    height: 48px;
  }

  .arrow-btn-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding: 16px 64px 0 64px;
    margin-bottom: 96px;
  }

  .hero-container {
    height: 629px;

    padding: 164px 64px;
  }

  .hero-content {
    max-width: 564px;
  }
}
