/* ===================== Загальні стилі секції ===================== */
.reviews {
    padding-top: 150px;
    padding-bottom: 150px;
}

.reviews-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 64px;
}

.reviews-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}


/* ===================== Картки ===================== */
.reviews-card {
    display: flex;
    flex-direction: column;
    background-color: #f3f5f6;
    border-radius: 30px;
    max-width: 320px;
    width: 100%;
    height: 326px;
    padding: 32px 0 32px 0;
    box-sizing: border-box;
    align-items: flex-start;
}

.review-user {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #4DC274;
    border-radius: 15px;
    padding: 16px;
    width: calc(100% - 32px);
    max-width: 288px;
    height: 78px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
}

.reviews-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.reviews-name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

.reviews-role {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.reviews-text {
    margin: 0;
    color: rgba(18, 20, 23, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: 0 32px 32px 32px;
    box-sizing: border-box;
    flex-grow: 1;
}

/* ===================== Підзаголовок ===================== */
.leave-application p {
    color: rgba(18, 20, 23, 0.50);
    text-align: center;
    font-family: Manrope, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 0;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    max-width: 647px;
}

/* Відстань між підзаголовком і картками */
.leave-application+.reviews-container {
    margin-top: 64px;

}

/* ===================== Адаптивність ===================== */

/* Мобільний (до 767px) */
@media (max-width: 767px) {
    .reviews-container {
        padding: 0 16px;
    }
    .reviews {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .leave-application+.reviews-container {
        margin-top: 40px;
    }

    .reviews-list {
        justify-content: center;
    }

    .reviews-card {
        width: 335px;
        height: 278px;
        padding: 20px 0;
    }

    .review-user {
        max-width: 295px;
        height: 78px;
        padding: 20px;
        margin-bottom: 20px;
        align-items: center;
        border-radius: 8px;
    }

    .reviews-text {
        padding: 0 34px 34px 40px;
        /* відступи тексту з боків і знизу */
        font-size: 14px;
        
    }
     .leave-application p {
        font-size: 14px;
        max-width: 335px;
        line-height: 24px;
     }


    /* Тільки 1 картка */
    .reviews-list .reviews-item:nth-child(n+2) {
        display: none;
    }
}

/* Планшет (768px - 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
    .reviews-container {
        margin-top: 64px;
        padding: 0 16px;
    }
    .reviews {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .reviews-list {
        justify-content: center;
        gap: 32px;
        /* фіксована відстань між картками */
    }

    .reviews-card {
        width: 336px;
        height: 326px;
        flex: 0 0 auto;
        padding: 32px 0;
    }

    .review-user {
        max-width: 304px;
        height: 78px;
        padding: 16px;
        margin-bottom: 32px;
        align-items: center;
    }

    /* 2 картки */
    .reviews-list .reviews-item:nth-child(3) {
        display: none;
    }
}

/* Десктоп (1200px і більше) */
@media (min-width: 1200px) {
    .reviews-container {
        margin-top: 64px;
        padding: 0 16px;
    }

    .reviews-list {
        justify-content: center;
        gap: 32px;
    }

    .reviews-card {
        width: 320px;
        height: 326px;
        padding: 32px 0;
    }

    .review-user {
        max-width: 295px;
        height: 78px;
        padding: 16px;
        margin-bottom: 32px;
        align-items: center;
    }
}